<div id="notfound">
    <div class="notfound-bg"></div>
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>we are sorry, but the page you requested was not found</h2>
        <a routerLink="/" class="home-btn">Go Home</a>
        <a href="https://www.facebook.com/iTarunGM" target="_blank" class="contact-btn">Contact us</a>
        <div class="notfound-social">
            <a href="https://www.facebook.com/iTarunGM" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.twitter.com/iTarunGM" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.youtube.com/BhramMan" target="_blank"><i class="fa fa-youtube-play"></i></a>
            <a href="https://www.instagram.com/iTarunGM" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://www.github.com/iTarunGM" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://itarungm.blogspot.com" target="_blank"><i class="fa fa-briefcase"></i></a>
        </div>
    </div>
</div>
