<div class="page-area text-center bg-warning text-dark">
    <h1 class="abt">ABOUT SECTION</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, repellendus.</p>
    <hr class="mb-3">
</div>
<div class="row container-fluid">

<div class="col-lg ">

                   <h1 class="text-center"> <span class="b-left">WE</span> ARE <STRONG>CREATIVE</STRONG> </h1>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nulla facilis, sunt vero quidem nisi minus beatae animi a tenetur eveniet ullam delectus facere ipsum. Nihil ut quod voluptatibus voluptatem accusamus quo incidunt, minus eos aspernatur, porro minima illo repudiandae iste officiis repellendus eum ad consequuntur! Suscipit veritatis unde tenetur.
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam animi consectetur odit perspiciatis veniam eius deleniti dicta officiis fugiat</p>
       <br> <button class="btn but btn-success float-left ml-lg-4">READ MORE</button>

</div>
<div class="col-lg text-center">

            <img src="../../assets/images/about/creative.jpg" alt="" width="500px" height="300px">


</div>
</div>
