.navbar-brand{
    margin-top: -25px;
}
img{
    filter: drop-shadow(12px 12px 25px rgba(255, 255, 255, 1));
    margin-top: 25px;
}
ul li a{
    color: white;
    font-size: 20px;
    margin-right: 10px;
    font-family: Open Sans;

}
ul li a:hover{
    font-size: 21px;
    color: red;
    transition: 0.2s;
}
.navbar{
    height: 70px;
    border-radius: 0;

}
.brand{
    margin-top: 14px;
    margin-left: 8%;
    color: white;
    font-size: 60px;
    font-family: Oxanium;
}
#e{
    color: red;
}
.creden{
    margin-left: 22%;
    padding: 5px;
}

.login:hover{
    cursor: pointer;
    padding-top: 0px;

    }
.creden li a:hover{
    transition: 0.2s;
    font-size: 20px;
    color: greenyellow;
}
.cart{
    margin-left:50px;
}
.modal{
    background-color: black;
    background-color: rgba(0, 0, 0,0.1);
}
.modal-content{
    width: 625px;
    height: 450px;
}
.modal-header{
    height: 80px;
    background-image: url(../assets/images/login/bk.jpg);
}
.modal-title{
    font-size: 35px;
}
.modal-body{
    background-image: url(../assets/images/login/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: auto;
}
.frm{
    width: 50%;
    margin: auto;
    margin-top: 60px;

}
.modal-footer a{
    position: relative;
    right: 21%;
    text-decoration: none;
}
#login{
    width: 100%;
}
.modal-footer p{
    position: relative;
    right: -25px;
}
.log{
    margin-top: 12px;
}

/* Cart Count */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  /* .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  } */
  #lblCartCount {
      font-size: 20px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }

 